﻿@model HeatExchangeWebApp.Models.HeatExchangeViewModel;

<section class="cyberpunk_1"></section>
<h1 class="display-5"><b>Расчет теплообмена в противоточном движении кусковых материалов и газов в плотном продуваемом слое</b></h1>
<section class="cyberpunk_2"></section>
<section class="cyberpunk_3"></section>
<div class="cyberpunk" style="background-color: #000">
    <form asp-action="Index" asp-controller="HeatExchange" method="post" id="forma" style="background-color: yellow">
        <h2 class="title title_medium">Введите начальные данные</h2>
        <p class="message"><b>@Model.Message</b></p>
        <div class="wrapper-1">
            <div class="field-group">
                <label asp-for="Input.H0" for="H0" class="input-label">Высота слоя, м</label>
                <input asp-for="Input.H0" name="H0" class="input-field" type="text" value="@Model.Input.H0" placeholder="Введите значение" required>
            </div>
            <div class="field-group">
                <label asp-for="Input.tm0" for="tm0" class="input-label">Начальная температура материала, &deg;C</label>
                <input asp-for="Input.tm0" name="tm0" class="input-field" type="text" value="@Model.Input.tm0" placeholder="Введите значение" required>
            </div>
            <div class="field-group">
                <label asp-for="Input.Tg0" for="Tg0" class="input-label">Начальная температура газа, &deg;C</label>
                <input asp-for="Input.Tg0" name="Tg0" class="input-field" type="text" value="@Model.Input.Tg0" placeholder="Введите значение" required>
            </div>
            <div class="field-group">
                <label asp-for="Input.Wg" for="Wg" class="input-label">Скорость газа на свободное сечение шахты, м/с</label>
                <input asp-for="Input.Wg" name="Wg" class="input-field" type="text" value="@Model.Input.Wg" placeholder="Введите значение" required>
            </div>
            <div class="field-group">
                <label asp-for="Input.Cg" for="Cg" class="input-label">Средняя теплоемкость газа, кДж/(м^3 * К)</label>
                <input asp-for="Input.Cg" name="Cg" class="input-field" type="text" value="@Model.Input.Cg" placeholder="Введите значение" required>
            </div>
            <div class="field-group">
                <label asp-for="Input.Cm" for="Cm" class="input-label">Средняя теплоемкость материала, кДж/(м^3 * К)</label>
                <input asp-for="Input.Cm" name="Cm" class="input-field" type="text" value="@Model.Input.Cm" placeholder="Введите значение" required>
            </div>
            <div class="field-group">
                <label asp-for="Input.Gm" for="Gm" class="input-label">Расход материалов, кг/с</label>
                <input asp-for="Input.Gm" name="Gm" class="input-field" type="text" value="@Model.Input.Gm" placeholder="Введите значение" required>
            </div>
            <div class="field-group">
                <label asp-for="Input.D" for="D" class="input-label">Диаметр аппарата, м</label>
                <input asp-for="Input.D" name="D" class="input-field" type="text" value="@Model.Input.D" placeholder="Введите значение" required>
            </div>
            <div class="field-group">
                <label asp-for="Input.Av" for="Av" class="input-label">Объемный коэффициент теплоотдачи, Вт/(м^3 * К)</label>
                <input asp-for="Input.Av" name="Av" class="input-field" type="text" value="@Model.Input.Av" placeholder="Введите значение" required>
            </div>
        </div>
        <div class="wrapper-1">
            <div class="field-group">
                <label asp-for="Output.m" for="m" class="input-label input-label-result">Отношение теплоемкостей потоков</label>
                <input asp-for="Output.m" name="m" class="input-field input-field-result" type="text" value="@Model.Output.m" readonly>
            </div>
            <div class="field-group">
                <label asp-for="Output.Y0" for="Y0" class="input-label input-label-result">Полная относительная высота слоя</label>
                <input asp-for="Output.Y0" name="Y0" class="input-field input-field-result" type="text" value="@Model.Output.Y0" readonly>
            </div>
        </div>
    </form>
</div>

<div class="submit">
    <div class="wrapper">
        <button form="forma" class="cybr-btn">
            Рассчитать<span>_</span>
            <span class="cybr-btn__glitch">Рассчитать_</span>
            <span class="cybr-btn__tag">R25</span>
        </button>
    </div>
</div>

<section class="wrapper-2 no-animation" style="overflow-y:auto;">
    <div>
        <table class="table" border="1" width="100%">
            <tr>
                <td rowspan="1"></td>
                <td colspan="@Model.Output.Y.Count();">Координаты y, м</td>
            </tr>
            <tr>
                <td></td>
                @for (double i = 0; i <= Model.Input.H0; i += 0.5)
                {
                    <td>@i</td>
                }
            </tr>
            <tr>
                <td>Y</td>
                @for (int i = 0; i < Model.Output.Y.Count(); i++)
                {
                    <td>@Math.Round(Model.Output.Y[i], 2)</td>
                }
            </tr>
            <tr>
                <td>1-exp[(m-1)*Y / m]</td>
                @for (int i = 0; i < Model.Output.Y.Count(); i++)
                {
                    <td>@Math.Round(Model.Output.IntermediateValue_1[i], 2)</td>
                }
            </tr>
            <tr>
                <td>1-m*exp[(m-1)*Y / m]</td>
                @for (int i = 0; i < Model.Output.Y.Count(); i++)
                {
                    <td>@Math.Round(Model.Output.IntermediateValue_2[i], 2)</td>
                }
            </tr>
            <tr>
                <td>ϑ</td>
                @for (int i = 0; i < Model.Output.Y.Count(); i++)
                {
                    <td>@Math.Round(Model.Output.ϑ[i], 2)</td>
                }
            </tr>
            <tr>
                <td>θ</td>
                @for (int i = 0; i < Model.Output.Y.Count(); i++)
                {
                    <td>@Math.Round(Model.Output.θ[i], 2)</td>
                }
            </tr>
            <tr>
                <td>t</td>
                @for (int i = 0; i < Model.Output.Y.Count(); i++)
                {
                    <td>@Math.Round(Model.Output.tm[i], 2)</td>
                }
            </tr>
            <tr>
                <td>T</td>
                @for (int i = 0; i < Model.Output.Y.Count(); i++)
                {
                    <td>@Math.Round(Model.Output.Tg[i], 2)</td>
                }
            </tr>
            <tr>
                <td>Разность температур, °С</td>
                @for (int i = 0; i < Model.Output.Y.Count(); i++)
                {
                    <td>@Math.Round(Model.Output.DifferenceTemperatures[i], 2)</td>
                }
            </tr>
        </table>
    </div>
</section>

<section class="wrapper-2">
    <div class="wh">
        <h2 class="title title_small">Изменение температур окатышей и газа по высоте слоя</h2>
        <canvas id="chart_1" ></canvas>
    </div>
</section>
<section class="wrapper-2">
    <div>
        <h2 class="title title_small small_2">Разность температур окатышей и газа</h2>
        <canvas id="chart_2"></canvas>
    </div>
</section>

@if(Model.IsAuth)
{
    <aside class="side">
        <ul>
            <li><a onclick="openMenu()"><text></text>👤&emsp;&emsp;&nbsp;&nbsp;@Model.Login&emsp;&emsp;&emsp;</a></li>
        </ul>
    </aside>

    <aside class="account" id="side-bar">
        <div class="wrapper-3" style="overflow-y:auto;">
            <div class="cl-btn-3 cl-btn-4" onclick="openMenu()">
                <span class="top"></span>
                <span class="bot"></span>
            </div>
            <div>
                <h2 class="title title_small small_4">Добро пожаловать, @Model.Login!</h2>
                <h2 class="title title_small small_5"><a href="HeatExchange/Exit" class="exit-acc">Выйти</a></h2>
            </div>
            <table class="table_acc" border="1" width="100%">
                <tr>
                    <td>H0</td>
                    <td>tm0</td>
                    <td>Tg0</td>
                    <td>Wg</td>
                    <td>Cg</td>
                    <td>Cm</td>
                    <td>Gm</td>
                    <td>D</td>
                    <td>Av</td>
                    <td>Вставить значения в поля</td>
                    <td class="td-change"><a class="change" href="HeatExchange/DeleteAll">Очистить историю</a></td>
                </tr>

                @foreach(var elem in Model.History)
                {
                    <tr>
                        <td>@elem.H0</td>
                        <td>@elem.tm0</td>
                        <td>@elem.Tg0</td>
                        <td>@elem.Wg</td>
                        <td>@elem.Cg</td>
                        <td>@elem.Cm</td>
                        <td>@elem.Gm</td>
                        <td>@elem.D</td>
                        <td>@elem.Av</td>
                        <td class="td-change"><a class="change" href="HeatExchange/Index/?historyId=@elem.Id">Вставить</a></td>
                        <td class="td-change"><a class="change" href="HeatExchange/Delete/?historyId=@elem.Id">Удалить</a></td>
                    </tr>
                }
            </table>
        </div>
    </aside>
}
else
{
    <aside class="side">
        <ul>
            <li><a onclick="openMenu()"><text></text>👤&emsp;&emsp;&nbsp;&nbsp;Log In&emsp;&emsp;&emsp;</a></li>
        </ul>
    </aside>

    <aside class="logIn" id="side-bar">
        <div class="wrapper-3">
            <div class="cl-btn-3" onclick="openMenu()">
                <span class="top"></span>
                <span class="bot"></span>
            </div>
            <form asp-action="Login" asp-controller="Account" method="post" style="text-align: center">
                <h2 class="title title_small small_3">Войдите в аккаунт</h2>
                <p id="message-login" class="message-aside" hidden><b>Неверный логин или пароль!</b></p>
                <div class="field-group">
                    <label class="input-label label-acc">Логин</label>
                    <input id="login" class="input-field field-acc" type="text" placeholder="Введите логин" required>
                </div>
                <div class="field-group">
                    <label class="input-label label-acc">Пароль</label>
                    <input id="password" class="input-field field-acc" type="password" placeholder="Введите пароль" required>
                </div>
                <button type="button" onclick="user()" class="cyberpunk2077 red">Войти_</button>
            </form>

            <h2 class="title-reg"><a class="exit-acc reg" onclick="openReg()">или зарегистрируйтесь</a></h2>
            <p id="message-reg" class="message-aside" hidden><b>Пользователь с таким логином уже существует!</b></p>
            <p id="message-null" class="message-aside" hidden><b>Заполните поля с логином и паролем!</b></p>
            <form asp-action="NewUser" asp-controller="Account" method="post" style="text-align: center" id="block-reg" hidden>
                <div class="field-group">
                    <label class="input-label label-acc">Логин</label>
                    <input id="new_login" class="input-field field-acc" type="text" placeholder="Придумайте логин" required>
                </div>
                <div class="field-group">
                    <label class="input-label label-acc">Пароль</label>
                    <input id="new_password" class="input-field field-acc" type="password" placeholder="Придумайте пароль" required>
                </div>
                <button type="button" onclick="newUser()" class="cyberpunk2077 red button-reg">Зарегистрироваться_</button>
            </form>
        </div>
    </aside>
}


<link href="~/css/site.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

    const labels = [];
    for(let i = 0; i <= @Model.Input.H0; i+=0.5) {
        labels.push(i);
    }

    const tm = []
    @foreach (var tm in Model.Output.tm)
    {
        @:tm.push(@Convert.ToString(Math.Round(tm, 2)).Replace(",", "."));
    }

    const Tg = []
    @foreach (var Tg in Model.Output.Tg)
    {
        @:Tg.push(@Convert.ToString(Math.Round(Tg, 2)).Replace(",", "."));
    }


    const data_1 = {
        labels: labels,
        datasets: [
            {
                label: 'Температура окатышей',
                backgroundColor: 'rgb(0, 0, 255)',
                borderColor: 'rgb(0, 0, 255)',
                data: tm
            },
            {
                label: 'Температура газа',
                backgroundColor: 'rgb(255, 0, 0)',
                borderColor: 'rgb(255, 0, 0)',
                data: Tg
            }
        ]
    };

    const config_1 = {
        type: 'line',
        data: data_1,
        options: {}
    };

    const Chart_1 = new Chart(
        document.getElementById('chart_1'),
        config_1
    );

    const DT = []
    @foreach (var DT in Model.Output.DifferenceTemperatures)
    {
        @:DT.push(@Convert.ToString(Math.Round(DT, 2)).Replace(",", "."));
    }

    const data_2 = {
        labels: labels,
        datasets: [
            {
                label: 'Разность',
                backgroundColor: 'rgb(255, 0, 0)',
                borderColor: 'rgb(255, 0, 0)',
                data: DT
            }
        ]
    };

    const config_2 = {
        type: 'line',
        data: data_2,
        options: {}
    };

    const Chart_2 = new Chart(
        document.getElementById('chart_2'),
        config_2
    );
</script>

<script>
    function openMenu() {
        document.getElementById('side-bar').classList.toggle('active');
    }

    function user() {
        let login = document.getElementById('login').value;
        let password = document.getElementById('password').value;
        let message = document.getElementById('message-login');

        let url = location.protocol + '//' + location.host + '/Account/Login?login=' + login + '&password=' + password;
        fetch(url).then(X => X.text()).then(X => {
            let result = X.toLowerCase() === "true";
            if(result)
                location.reload();
            else {
                if(document.getElementById('side-bar').offsetHeight < 380)
                    document.getElementById('side-bar').style.height = '380px';
                message.hidden = false;
            }
        })
    }

    function newUser() {
        let new_login = document.getElementById('new_login').value;
        let new_password = document.getElementById('new_password').value;
        let message_null = document.getElementById('message-null');
        let message_reg = document.getElementById('message-reg');

        if(new_login == '' || new_password == '') {
            document.getElementById('side-bar').style.height = '600px';
            message_null.hidden = false;
            message_reg.hidden = true;
        }
        else {
            let url = location.protocol + '//' + location.host + '/Account/NewUser?new_login=' + new_login + '&new_password=' + new_password;
            fetch(url).then(X => X.text()).then(X => {
                let result = X.toLowerCase() === "true";
                if(result)
                    location.reload();
                else {
                    document.getElementById('side-bar').style.height = '600px';
                    message_reg.hidden = false;
                    message_null.hidden = true;
                }
            })
        }
    }

    function openReg() {
        let elem = document.getElementById('side-bar');
        if(!elem.classList.contains('openreg')) {
            elem.classList.toggle('openreg');
            elem.style.height = '570px';
            elem.style.top = '13vh';
            elem.style.transition = '0.5s';
            document.getElementById('block-reg').hidden = false;
        }
    }
</script>
